<%- include('./partials/head.ejs') %>

<article class="team-section">
    <header>
        <h1 class="squad-title" data-aos="fade-up" data-aos-delay="200"><%= squad.name %></h1>
        <p class="squad-description" data-aos="fade-up" data-aos-delay="200">Welkom bij de beste squad van de FDND opleiding.</p>
    </header>

    <section class="container">
        <% squad.members.forEach(member => { %>
        <main class="team" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
            <div class="img">
                <% if (member.avatar) { %>
                <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
                <% }else{ %>
                <img src="/img/placeholder.png" alt="Placeholder avatar" />
                <% } %>
            </div>

            <h2><%= member.name %> <%= member.surname %></h2>
            <p class="bio"><%= member.slug %></p>
            <p class="about"><%= member.bio %></p>

            <ul class="socials">
                <li>
                    <a href="<%= member.website %>" target="_blank"><i class="uil uil-github"></i></a>
                </li>
                <li><i class="uil uil-linkedin"></i></li>
            </ul>
        </main>
        <% }) %>
    </section>
</article>

<a href="/?squad=<%= squad.slug %>"><%= squad.name %></a>

<script>
    AOS.init();
</script>
<%- include('./partials/foot.ejs') %>
