<%- include('./partials/head.ejs') %>

<article class="team-section">
    <header>
        <!-- De squad wordt hier vertoond -->
        <h1 class="squad-title" data-aos="fade-up" data-aos-delay="200" data-aos-once="true"><%= squad.name %></h1>
        <p class="squad-description" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">Welkom bij de FDND opleiding!</p>
    </header>

    <section class="container">
        <!-- In de de whoisfdnd databse wordt elke member van de squad getoond met de data die je wilt weergeven in het kaartje -->
        <% squad.members.forEach(member => { %>
        <main class="team" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500" data-aos-once="true">
            <!-- Wanneer een member van de squad geen avatar heeft, toon dan de vervangende afbeelding -->
            <div class="img">
                <% if (member.avatar) { %>
                <!-- Hier wordt iedereen zijn/haar avatar gepakt van de database en vertoond -->
                <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
                <% }else{ %>
                <!-- De vervangende afbeelding -->
                <img src="/img/placeholder.png" alt="Placeholder avatar" />
                <% } %>
            </div>

            <!-- Hier wordt de naam en achternaam laten zien van elke member -->
            <h2><%= member.name %> <%= member.surname %></h2>
            <!-- Hier wordt iedereen zijn/haar slug laten zien -->
            <p class="slug"><%= member.slug %></p>

            <!-- Wanneer een member geen bio heeft, laat dan de vervangende tekst zien -->
            <% if (member.bio) { %>
            <p class="about"><%- member.bio.html %></p>
            <% }else{ %>
            <!-- De vervangende tekst -->
            <p class="about">Eerstejaars student aan de opleiding FDND</p>
            <% } %>

            <ul class="socials">
                <!-- Hier wordt je gestuurd naar iedereen zijn/haar website die ze hebben opgegeven in de database -->
                <li>
                    <a href="<%= member.website %>" target="_blank"><i class="uil uil-github"></i></a>
                </li>
                <li><i class="uil uil-linkedin"></i></li>
            </ul>
        </main>
        <% }) %>
    </section>
</article>

<script>
    AOS.init();
</script>
<%- include('./partials/foot.ejs') %>
